<md-sidenav-layout fullscreen>
  <md-toolbar color="primary">
    <!--<span>Toolbar</span>-->

    <button md-icon-button>
      <md-icon class="md-24">menu</md-icon>
    </button>
  </md-toolbar>

  <md-sidenav mode="side" opened="true">
    <nav>
      <div class="menu-item">Личный кабинет</div>
      <div class="menu-item">Мои заявки</div>
      <div class="menu-item">Мои клиенты</div>
    </nav>
  </md-sidenav>

  <md-card class="main-content">
    <router-outlet></router-outlet>
  </md-card>
</md-sidenav-layout>
